<div class="col-3 mb-3">
    <div class="card">
        <%= link_to video, class: "text-dark" do %>
        <%= image_tag video.image.url, class:"w-100" if video.image? %>
        <div class="card-body">
            <strong><%= video.title %></strong>
            <p class="small"><%= truncate video.description, length:30 %></p>
            <p class="text-gray small"><%= time_ago_in_words video.created_at %> ago</p>
            <p class="text-gray small"><%= video.view_count.to_i %> views</p>
        </div>
        <% end %>
    </div>
</div>